
li, a, .button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-decoration: none;
}
.error{
  color: red;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  background: #f9f9f9;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  border-radius: 50px;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  padding: 0px 20px;
}

.navlinks li a {
  transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
  color: rgba(0, 136, 169, 1);
  cursor: pointer;
}

.button {
  margin: 0 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button {
  border: none;
  cursor: pointer;
}
.far{
 color: rgb(240, 8, 8);
}
.button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.page-content {
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.main-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 3px solid #000;
  height: 450px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 0.35rem;
}
.data-container {
    flex-direction: column;
    width: 100%;
    border: 3px solid #000;

    margin: 0 auto;
    border-radius: 0.35rem;
}
table{
  width:100%;
  table-layout: fixed;
}

 .table-content{
  overflow-x:auto;
  margin-top: 0px;
}
th{
  padding: 10px;
  text-align: center;
  font-size: 12px;
  color: #000;
  border-bottom: solid 1px rgba(7, 2, 2, 0.3);
}
td{
  padding: 10px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #000;
  border-bottom: solid 1px rgba(7, 2, 2, 0.3);
}
::-webkit-scrollbar {
  width: 6px;
} 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} 
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}